

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}



body.dark {
  background-color: #0f172a;
  color: white;
}

body.light {
  background-color: #f1f5f9;
  color: #aba6a6;
}



.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #22d3ee;
}

.section {
  margin-top: 40px;
}



.card {
  background: #e0e2e6;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  overflow: hidden; 
}


body.light .card {
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card:hover {
  transform: translateY(-5px);
  background: #ebecef;
}

/* Light mode hover override */
body.light .card:hover {
  background: #f8fafc;
}



.button {
  background: linear-gradient(90deg, #06b6d4, #8b5cf6);
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}



.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}



.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}